@layer base {
  body {
    font-feature-settings: "cpsp", "cv01", "cv02", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
