@layer base {
  body {
    font-feature-settings:
      "liga" 1,
      "calt" 1,
      "cv11" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
