@import "fumadocs-ui/style.css";
@import "@patternmode/tailwind-config";

@source "./**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";
@source "../lib/**/*.{ts,tsx}";

@font-face {
  font-family: "Ivar Display";
  src: url("./fonts/IvarDisplay-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ivar Display";
  src: url("./fonts/IvarDisplay-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Ivar Display";
  src: url("./fonts/IvarDisplay-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: "Inter";
    --font-serif: "Ivar Display";
    --font-geist-mono: "Geist Mono";
  }
}
