@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv11", "liga", "calt", "dlig", "ss03",
    "cv03", "cv04", "cv01", "cv10";
  --font-mono: "SFMono-Regular", "SF Mono", Monaco, Inconsolata, "Roboto Mono",
    "Source Code Pro", monospace;
  --text-xl: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.8125rem; /* 13px */
  --text-xs: 0.75rem; /* 12px */
  --text-2xs: 0.6875rem; /* 11px */

  /* Override Tailwind's default easing curves */
  --ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-out: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
}

@theme {
  --animate-hide: hide 150ms var(--ease-in-out);
  --animate-slide-down-and-fade: slideDownAndFade 150ms var(--ease-out);
  --animate-slide-left-and-fade: slideLeftAndFade 150ms var(--ease-out);
  --animate-slide-up-and-fade: slideUpAndFade 150ms var(--ease-out);
  --animate-slide-right-and-fade: slideRightAndFade 150ms var(--ease-out);
  --animate-accordion-open: accordionOpen 150ms var(--ease-out);
  --animate-accordion-close: accordionClose 150ms var(--ease-in);
  --animate-dialog-overlay-show: dialogOverlayShow 150ms var(--ease-out);
  --animate-dialog-content-show: dialogContentShow 150ms var(--ease-out);
  --animate-sheet-slide-left-and-fade: sheetSlideLeftAndFade 150ms
    var(--ease-out);
  --animate-sheet-slide-right-and-fade: sheetSlideRightAndFade 150ms
    var(--ease-in);

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes accordionOpen {
    from {
      height: 0px;
    }
    to {
      height: var(--panel-height);
    }
  }
  @keyframes accordionClose {
    from {
      height: var(--panel-height);
    }
    to {
      height: 0px;
    }
  }
  @keyframes dialogOverlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dialogContentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -45%) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes sheetSlideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes sheetSlideRightAndFade {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

/* Set default border colors */
@layer base {
  * {
    border-color: var(--color-zinc-200);
  }
  .dark * {
    border-color: var(--color-zinc-800);
  }
}